<?xml version="1.0" encoding="utf-8"?>
<module productName="Geta Optimizely Index Content in Find" clientResourceRelativePath="" loadFromBin="false">
	<assemblies>
		<add assembly="Geta.Optimizely.IndexContentInFind" />
	</assemblies>
	<dojo>
		<paths>
			<add name="geta-optimizely-indexcontentinfind" path="ClientResources/scripts" />
		</paths>
	</dojo>
	<clientModule initializer="geta-optimizely-indexcontentinfind/CommandsInitializer">
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
	</clientModule>
</module>